body,
p,
ul,
li,
a,
figcaption {    
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}
h1,
h2,
h3,
h4,
h5,
h6,
th{
    font-family: 'Playfair Display', serif;   
    font-weight: 700;
}
.dataTables_scrollHeadInner {
width: 100% !important;
}
.dataTables_scrollHeadInner table {
width: 100% !important;
}
.crema{background-color:#f4f4f4;}
.nata{background-color:#eadca6;}
.trufa{background-color:#d5ab9c;}
table {
    background-color: white;
}
.table thead th, .table tfoot th {
    background-color: ghostwhite;
}
table.dataTable thead th,
table.dataTable tfoot th,
table.dataTable thead td {
    padding: 10px;
    border-bottom: 1px solid #111;
    vertical-align: super;
    text-align: center;
    font-size: 1rem;    
    min-width: 92px;
   
}

table.table-bordered.dataTable tbody td {
    border-bottom-width: 0;
    padding: 0;
    text-align: center;
    vertical-align: middle;
}

table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc_disabled:before {
    right: 0em;
    top: 0;
    content: "\2191";
    font-family: auto;
    font-size: 1.5rem;
}

table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_desc_disabled:after {
    right: 0.5em;
    top: 0;
    content: "\2193";   
    font-family: auto;    
    font-size: 1.5rem;
}

table.dataTable thead>tr>th.sorting_asc,
table.dataTable thead>tr>th.sorting_desc,
table.dataTable thead>tr>th.sorting,
table.dataTable thead>tr>td.sorting_asc,
table.dataTable thead>tr>td.sorting_desc,
table.dataTable thead>tr>td.sorting {
    padding-right: 20px;

}

table.dataTable {
    clear: both;
    margin-top: 0px !important;
    margin-bottom: 6px !important;
    max-width: none !important;
    border-collapse: separate !important;
    border-spacing: 0;
}
.dt-top{
    
    float: right;
}
.dt-bottom-left{
    width: 50%;
    float: left;
}
.dt-bottom-right{
    width: 50%;
    float: right;
}
#pedidos_info{
    padding:0;  
}
.custom-select-sm {
    font-size: .65rem;
}
@media screen and (max-width: 767px){
    div.dataTables_wrapper div.dataTables_length{
        text-align: left;
    }
}

/*

#pedidos_length{
    width: 50%;
    float: left;
}
#pedidos_paginate{
    width: 50%;
    float: right;
}
#pedidos_filter{
    width: 50%;
    float: right;
}
*/
body {
    font-size: 16px;
    background-image: url("../img/pattern2b.png");
    background-repeat: repeat;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0;
    /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance: textfield;
    /* Firefox */
}

.tdUdbuttons {
    display: inline-flex;
    width: 100%;
}

.tdUdbuttons input {
    border-radius: 0;
    min-width: 30px;
    padding: 5px;
}

.Udbuttons {
    display: flex;
    flex-flow: column;
}

.subUd,
.addUd {
    height: 19px;
    width: 19px;
    line-height: 3px;
    padding: 3px;
    border-radius: 0;
}